@using TPI_UTN.Models
@model Orden

<h1>Eliminar orden</h1>
<div class="formulario">


    <form asp-action="Eliminar" asp-controller="Orden" method="post">
        <input asp-for="id" type="hidden" class="form-control" />
        <h4>¿Seguro que quieres eliminar el registro de la orden @Html.DisplayTextFor(m => m.id)?</h4>
        <p>Esto significa que la compra fue efectuada, no se reincorporará el stock del producto.</p>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>

</div>

