@using TPI_UTN.Models.Proveedor
@model Categoria


<h1>Agregar una categoría</h1>


<form asp-action="Guardar" asp-controller="Categoria" method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="nombre" type="text" class="form-control">
    </div>
     
    <button type="submit" class="btn btn-primary">Agregar</button>



</form>