@using TPI_UTN.Models
@model Producto


    


    <h1>@this.Model.nombre</h1>


    <div class="row">
        <div class="col-sm-6">
            <img src=@this.Model.imagen />
        </div>
        <div class="col-sm-6">
            @foreach (var text in this.Model.descripcion.Split("\r\n"))
            {
                <p class="text-black descripcion">@text</p>
            }
        @if (User.IsInRole("Administrador") || User.IsInRole("Vendedor") || User.IsInRole("Cliente")) {
            <a asp-area="" asp-controller="Orden" asp-action="GenerarOrden" asp-route-id="@this.Model.id" class="btn btn-outline-success botonCompra">Comprar</a>

        }


        </div>
    </div>




