@using TPI_UTN.Models
@model Producto


    


    <h1>@this.Model.nombre</h1>


    <div class="row">
        <div class="col-sm-6">
            <img src=@this.Model.imagen />
        </div>
        <div class="col-sm-6">

                <p class="text-black descripcion">@Model.descripcion</p>
            
        @if ( User.IsInRole("Cliente")) { 
            <a asp-area="" asp-controller="Orden" asp-action="GenerarOrden" asp-route-id="@this.Model.id" class="btn btn-outline-success botonCompra">Comprar</a>

        }


        </div>
    </div>




