a{
    text-decoration: none;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
 position: relative;
  min-height: 100%;
}

body {
    /* margin-bottom: 60px;*/
   
}
.logoP {
    font-family: 'Monotype Corsiva';
    font-size: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:8em;
    text-align:center;
}
.logoP:hover{

}
.INGRESAR {
    height: 52px;
    width: 130px;
    outline: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
    transition: all 0.4s;
    background-color: white;
}

    .INGRESAR:hover {
        background-color: blueviolet;
        color: white;
        transition: 0.3s;
    }

th {
    text-align: center;
}


td {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 5%;
}
/*a:hover {
           color: yellow;
}*/

.busqueda {
    /*justify-content:center;*/
    padding-left: 20%;
}

.tarjeta {
    margin: 5%;
}

.tarjetaInterior {
    text-align: center;
}

.fotoProducto {
    max-width: 248px;
    max-height: 248px;
    margin-left: 14%;
}

    .fotoProducto img {
        display: flex;
    }

.botonCompra {
    width: 100%;
}

.formulario {
    padding: 30%;
    padding-top: 0%;
    
}

#categoriaNombre {
    text-align: center;
}
/*Contendor superior*/
.conten-sup{
    
}
.txt-animado {
    color: blueviolet;
    height: 1em;
}
footer {
    width: 100%;
    background: linear-gradient(to right, #fca9e3, #ed26b1);
    padding-top: 1em;
}

h1{
    font-size: 2rem;
    font-weight:bold;

    text-align:center;
    text-transform:uppercase;
}

section{
    padding: 3rem 0;
    background-color: lightgray;
    border-radius:25px
    
}

form{
   
    margin:auto;
    padding-left: 5em;
  
}
/*Span usuario*/
.usuari{
    color:fuchsia;
}