@using practica2.Models.Proveedor
@model Proveedor

<h1>Agrega una categoría al proveedor</h1>

<small class="form-text text-muted">¿Es una nueva categoría? Registrela primero.</small>
<a asp-area="" asp-controller="Proveedor" asp-action="Guardar" class="btn btn-secondary">Registrar una categoría</a>

<div class="formulario">
    <form asp-action="AgregarCategoria" asp-controller="Proveedor" method="post">

        <input hidden asp-for="id" value =@Model.id type="text" class="form-control" id="agregarCateNombre" placeholder="Debe ser una categoría existente...">


        <div class="form-group">
            <label for="nombre">Categoria para agregar</label>
            <input asp-for="categoria" type="text" class="form-control" id="agregarCateNombre" placeholder="Debe ser una categoría existente...">
        </div>

        <button type="submit" class="btn btn-primary">Agregar</button>
        

    </form>
</div>