@using TPI_UTN.Models.Proveedor
@model Proveedor

<h1>Categorias del proveedor</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Categoría</th>
                <th scope="col">Acciones</th>
   
            </tr>
        </thead>
        <tbody>
            @foreach (Categoria item in this.Model.categorias)
            {
                <tr>
                    <th scope="row">@item.id</th>
                    <td id="categoriaNombre">@item.nombre</td>
                    <td>
                        <a asp-area="" asp-controller="Proveedor" asp-action="EliminarCategoria" asp-route-proveedor="@Model.id" asp-route-categoria="@item.nombre" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
            </tbody>
    </table>
    </div>
@{
    Proveedor p = new Proveedor() { id = this.Model.id };
}
    <a asp-area="" asp-controller="Proveedor" asp-action="AgregarCategoria" asp-route-id=@Model.id class="btn btn-primary">Agregar una categoría a este proveedor</a>
   
