@using TPI_UTN.Models.Proveedor
@model Proveedor

<div>
<h4>Categoría Proveedor</h4>
</div>

<hr>

<nav class="navbar bg-light">
    <div class="container-fluid">
        <span class="navbar-text">
            <a asp-area="" asp-controller="Proveedor" asp-action="AgregarCategoria" asp-route-id=@Model.id class="btn btn-outline-dark" >Agregar una categoría a este proveedor</a>

        </span>
    </div>
</nav>


<div>
    <table class ="table table-bordered table-hover">
        <thead class ="table-secondary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Categoría</th>
                <th scope="col">Acciones</th>
   
            </tr>
        </thead>
        <tbody>
            @foreach (Categoria item in this.Model.categorias)
            {
                <tr>
                    <th scope="row">@item.id</th>
                    <td id="categoriaNombre">@item.nombre</td>
                    <td>
                        <a asp-area="" asp-controller="Proveedor" asp-action="EliminarCategoria" asp-route-proveedor="@Model.id" asp-route-categoria="@item.nombre" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
            </tbody>
    </table>
    </div>
@{
    Proveedor p = new Proveedor() { id = this.Model.id };
}
    