@model Cliente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Pagina de edición</h2>
<form asp-action="Editar" asp-controller="Cliente" method="post">
    <input asp-for="clie_id" type="hidden" class="form-control" /> <!--esta oculto y va a traer el id-->
   <div class="container"> 
    <div class="col-6">
        <label>Nombre</label>
        <input asp-for="clie_nombre" type="text" class="form-control">
    </div>
    <div class="col-6">
        <label>Apellido</label>
        <input asp-for="clie_apellido" type="text" class="form-control">
    </div>
    <div class="col-6">
        <label>Cuil</label>
        <input asp-for="clie_cuil" type="number" class="form-control">
    </div>
    <div class="col-6">
        <label>DNI</label>
        <input asp-for="clie_dni" type="number" class="form-control">
    </div>
    <div class="col-6">
        <label>Razon Social</label>
        <input asp-for="clie_razon_social" type="text" class="form-control">
    </div>
    <div class ="col-6">
        <label>Usuario</label>
        <input asp-for="clie_user" type="number" class="form-control">
    </div>
    <div class="col-6">
        <label>Tipo cliente</label>
        <input asp-for="clie_tipo" type="number" class="form-control">
    </div>


    <button type="submit">Enviar</button>
    </div>


</form>